.container {
    width: 80%;
    margin: 0 auto;
}

[class *= "col-"] {
    background-color: #006cf9;
    height: 25px;
    border: 1px solid white;
}

.col-offset-xs-1 {
    margin-left: calc((100% / 12) * 1 - 2px);
}
.col-offset-xs-2 {
    margin-left: calc((100% / 12) * 2 - 2px);
}
.col-offset-xs-3 {
    margin-left: calc((100% / 12) * 3 - 2px);
}
.col-offset-xs-4 {
    margin-left: calc((100% / 12) * 4 - 2px);
}
.col-offset-xs-5 {
    margin-left: calc((100% / 12) * 5 - 2px);
}
.col-offset-xs-6 {
    margin-left: calc((100% / 12) * 6 - 2px);
}
.col-offset-xs-7 {
    margin-left: calc((100% / 12) * 7 - 2px);
}
.col-offset-xs-8 {
    margin-left: calc((100% / 12) * 8 - 2px);
}
.col-offset-xs-9 {
    margin-left: calc((100% / 12) * 9 - 2px);
}
.col-offset-xs-10 {
    margin-left: calc((100% / 12) * 10 - 2px);
}
.col-offset-xs-11 {
    margin-left: calc((100% / 12) * 11 - 2px);
}
.col-offset-xs-12 {
    margin-left: calc((100% / 12) * 12 - 2px);
}
