  /* COMMON  */
.container {
    width: 80%;
    margin: 0 auto;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.mg-auto {
    margin:  0 auto;
}

.flex {
    display: flex;
}

[class *= "col-"] {
    background-color: #006cf9;
    height: 30px;
    border: 1px solid white;
}


/* OFFSET SECTION  */
.offset .col-offset-xs-1 {
    margin-left: calc((100% / 12) * 1 - 2px);
}
.offset .col-offset-xs-2 {
    margin-left: calc((100% / 12) * 2 - 2px);
}
.offset .col-offset-xs-3 {
    margin-left: calc((100% / 12) * 3 - 2px);
}
.offset .col-offset-xs-4 {
    margin-left: calc((100% / 12) * 4 - 2px);
}
.offset .col-offset-xs-5 {
    margin-left: calc((100% / 12) * 5 - 2px);
}
.offset .col-offset-xs-6 {
    margin-left: calc((100% / 12) * 6 - 2px);
}
.offset .col-offset-xs-7 {
    margin-left: calc((100% / 12) * 7 - 2px);
}
.offset .col-offset-xs-8 {
    margin-left: calc((100% / 12) * 8 - 2px);
}
.offset .col-offset-xs-9 {
    margin-left: calc((100% / 12) * 9 - 2px);
}
.offset .col-offset-xs-10 {
    margin-left: calc((100% / 12) * 10 - 2px);
}
.offset .col-offset-xs-11 {
    margin-left: calc((100% / 12) * 11 - 2px);
}
.offset .col-offset-xs-12 {
    margin-left: calc((100% / 12) * 12 - 2px);
}


/* NESTED SECTION  */

.nested [class *= "col-"] {
    height: 70px;
}

.nested .green {
    background-color: green;
    height: 30px;
}

.nested .col-xs-7, 
.nested .col-xs-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-xs-7 .row, 
.col-xs-5 .row {
    width: 95%;
}

/* ALIGNMENT SECTION  */
.alignment .col-xs-12 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alignment .col-xs-12 h4 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
   display: flex;
   justify-content: center;
}

.end {
    display: flex;
    justify-content: flex-end;
}

